body{
    background-image: url("https://3.bp.blogspot.com/-f7yq2JlXJso/V-nHd2d2LBI/AAAAAAAAAlY/yBdzK0Td1f0PNoWF6PH_CR4kqPlBHg6cQCLcB/s1600/10370.jpg");
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Headline1{
 text-align: center;
 margin-bottom: 7%;
 font-weight: 800;

}

.div-usuario{
 width: 40%;
 padding: 2%;
 background-color: transparent;
 margin: 0 auto;
 margin-top: 4%;
 border-radius: 20px;
 text-align: center;
}

form{
 text-align: center;

}


.form-control{
 width: 50%;
 border-radius: 15px;
 padding: 2%;
 font-size: 1rem;
 margin-bottom: 4%;
 margin-left: 2%;
 border: 2px solid black;
}
.campo {
 justify-content: space-around;
}
.form-label{
 font-size: 1.5rem;
 font-weight: 600;
 
}

.conteBotones{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 margin-top: 5%;
}

.atras{
 background-color: #FFC300;
 padding: 10px;
 margin: auto;
 border-radius: 15px;
 text-decoration: none;
 color: rgb(7, 0, 0);
 font-weight: 600;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 width: 140px;
 text-align: center
}

.buttom{
 padding: 2% 4%;
 border-radius: 15px;
 font-size: 1rem;
 background-color: rgb(2, 1, 0);
 font-weight: 600;
 border: none;
 color: white;
}

.img_bala {
 width: 70px;
}